<%= standard_flashes %>
<%= error_messages_for :bunny -%>

<% form_tag password_resets_path do -%>
  <p><label>New password:</label> <%= password_field_tag(:password) -%></p>
  <p><label>Confirm new password:</label> <%= password_field_tag(:password_confirmation) -%></p>
  <p><%= submit_tag("Change my password") %></p>
<% end -%>
