<%
# Copyright 2007, 2008, 2009, 2010, 2013 Chris Mear
# 
# This file is part of Bunnylove.
# 
# Bunnylove is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bunnylove is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with Bunnylove.  If not, see <http://www.gnu.org/licenses/>.
-%>
<h3>Change your password</h3>

<%= standard_flashes %>
<%= error_messages_for :bunny %>

<%= form_for(:bunny, :url => bunny_path("current"), :html => {:method => :put}) do |f| -%>
  <p><label>New password:</label><br /><%= f.password_field(:password) %></p>
  <p><label>Confirm new password:</label><br /><%= f.password_field(:password_confirmation) %></p>
  <p><%= submit_tag("Save new password") %></p>
<% end -%>

<% if Fright.allow_frights? -%>
  <p><%= link_to("Cancel and go back", frights_path) %></p>
<% else -%>
  <p><%= link_to("Cancel and go back", valentines_path) %></p>
<% end -%>
