<h3>Almost there!</h3>

<%= standard_flashes %>

<% if Fright.allow_frights? -%>
  <p>To prove that you're not an evil impostor, an agent of the undead, or a crafty pumpkin, please go to your <a href="http://metachat.org/users/<%= @bunny.username %>">MeCha profile page</a>, and add this special code to your 'About Me' section:</p>
<% else -%>
  <p>To prove that you're not an impostor, please go to your <a href="http://metachat.org/users/<%= @bunny.username %>">MeCha profile page</a>, and add this special code to your 'About Me' section:</p>
<% end -%>

<p class="emphasised"><%= @bunny.secret %></p>

<p>When you've done that, come back here and click:</p>

<% if Fright.allow_frights? -%>
  <%= button_to("I'm ready! Scare me! Scare me good!", check_bunny_path(@bunny)) %>
<% else -%>
  <%= button_to("Okay, I'm done, let me in!", check_bunny_path(@bunny)) %>
<% end -%>
