<%= render(:partial => "archive_links") %>

<%= standard_flashes %>

<% if @allow_valentines -%>
  <div class="send_container">
    <h3>Send an anonymous Valentine</h3>
    <p class="errorMessage" style="display: none" id="create_valentine_form_error"></p>
    <p class="successMessage" style="display: none" id="create_valentine_form_success"></p>
    <% form_remote_tag :url => valentines_path, :html => {:action => valentines_path, :id => "create_valentine_form"}, :after => "createValentineFormSubmit()", :complete => "createValentineFormComplete()" do -%>
      <p><label>Who are you sending this anonymous Valentine to?</label> <span>Just the username, thanks.</span><br />
      <%= text_field_tag :recipient, @recipient %></p>
      <p><label>And what would you like to say?</label> <span>Keep it clean and friendly, pwetty pwease!</span><br />
      <%= text_area_tag :message, @message, :rows => 5 %></p>
      <p><%= submit_tag "Send my Valentine!", :id => "create_valentine_form_submit" %></p>
    <% end -%>
  </div>
<% else -%>
  <h3>Sorry, Valentine's is over now! But you can still read your messages.</h3>
<% end -%>

<script type="text/javascript">
  <% if @received_valentines.empty? -%>
    var lastReceivedValentineId = 0;
  <% else -%>
    var lastReceivedValentineId = <%= @received_valentines.first.id %>;
  <% end -%>
</script>

<div class="received_container">
  <h3>Valentines you've received</h3>
  <p id="received_valentines_tally"><%= render(:partial => "shared/received_valentines_tally", :locals => {:received_valentines_count => @received_valentines.length}) %></p>
  <ul id="received_valentines">
  <% @received_valentines.each do |v| -%>
    <%= render(:partial => "shared/received_valentine", :locals => {:v => v})%>
  <% end -%>
  </ul>
</div>

<div class="sent_container">
  <h3>Valentines you've sent</h3>
  <p id="sent_valentines_tally"><%= render(:partial => "shared/sent_valentines_tally", :locals => {:sent_valentines_count => @sent_valentines.length}) %></p>
  <ul id="sent_valentines">
  <% @sent_valentines.each do |v| -%>
    <%= render(:partial => "shared/sent_valentine", :locals => {:v => v})%>
  <% end -%>
  </ul>
</div>

<div class="clear"></div>

<% if @allow_valentines -%>
  
  <script type="text/javascript">
    Form.focusFirstElement('create_valentine_form');
  </script>
  
  <%= periodically_call_remote(:url => received_after_valentines_path, :with => "'last_id=' + lastReceivedValentineId", :frequency => 10) %>
  
<% end -%>
