<%= render(:partial => "archive_links") %>
<h3 class="valentines">Your Valentines from <%= @year %></h3>

<div class="received_container">
  <h3>Valentines you received</h3>
  <p id="received_valentines_tally"><%= render(:partial => "shared/received_valentines_tally", :locals => {:received_valentines_count => @received_valentines.length, :live => false}) %></p>
  <ul id="received_valentines">
  <% @received_valentines.each do |v| -%>
    <%= render(:partial => "shared/received_valentine", :locals => {:v => v})%>
  <% end -%>
  </ul>
</div>

<div class="sent_container">
  <h3>Valentines you sent</h3>
  <p id="sent_valentines_tally"><%= render(:partial => "shared/sent_valentines_tally", :locals => {:sent_valentines_count => @sent_valentines.length, :live => false}) %></p>
  <ul id="sent_valentines">
  <% @sent_valentines.each do |v| -%>
    <%= render(:partial => "shared/sent_valentine", :locals => {:v => v})%>
  <% end -%>
  </ul>
</div>

<div class="clear"></div>

