<p class="archives">
  <% if Fright.allow_frights? -%>
    <%= link_to("Subscribe to your frights.", received_bunny_frights_url(:bunny_id => @bunny.key, :format => "atom")) %>
  <% else -%>
    <%= link_to("Subscribe to your valentines.", received_bunny_valentines_url(:bunny_id => @bunny.key, :format => "atom")) %>
  <% end -%>
  
  View your Valentines from: <%= link_to("This year", valentines_path) %>
  <% previous_valentines_years.each do |year| -%>
    | <%= link_to(year, valentine_path(year)) %>
  <% end -%>.
  
  View your frights from: <%= link_to("This year", frights_path) %>
  <% previous_frights_years.each do |year| -%>
    | <%= link_to(year, fright_path(year)) %>
  <% end -%>.
</p>
