<p class="archives">
  <%= link_to("Subscribe to your valentines.", received_bunny_valentines_url(:bunny_id => @bunny.key, :format => "atom")) %>
  View your Valentines from: <%= link_to("This year", valentines_path) %> |
  <%= link_to("2008", valentine_path(2008)) %> | 
  <%= link_to("2007", valentine_path(2007)) %>.
  View your frights from <%= link_to("2008", fright_path(2008)) %>.
</p>
