<%
# Copyright 2007, 2008, 2009, 2010 Chris Mear
# 
# This file is part of Bunnylove.
# 
# Bunnylove is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bunnylove is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with Bunnylove.  If not, see <http://www.gnu.org/licenses/>.
-%>
<h3>Bunny login</h3>
<%= standard_flashes %>
<% form_tag bunny_sessions_path do -%>
  <p>Username<br />
  <%= text_field_tag "username" %></p>
  <p>Password<br />
  <%= password_field_tag "password" %></p>
  <% if Fright.allow_frights? -%>
    <p><%= submit_tag "Begin the terror" %></p>
  <% else -%>
    <p><%= submit_tag "Lemme in!" %></p>
  <% end -%>
<% end -%>

<p>Forgotten your password? <%= link_to("Click here to reset it.", new_password_reset_path) %></p>
